// $breakpoints: (
//   mobile-small: 320px,
//   mobile-media: 480px,
//   medium: 640px,
//   tablet: 768px,
//   large: 1024px,
//   x-large: 1600px,
//   xx-large: 2800px,
// );

// color
$white: #ffffff;
$green: #008000;
$green-light: #b5ebb5;
$orange: #ffa502;
$orange-dark: #f27121;
$blue-dark: #2f3542;
$red-light: #e94057;
$blue: #4c4cfc;
$blue-light: #6868fc;