@import '~ngx-toastr/toastr';

.movie-item{
    position: relative;
    text-align: center;
    .movie-image{
        width: 100%;
    }

    .btn-remove{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: linear-gradient(to right, #f27121, #e94057);
        cursor: pointer;
        &:hover{
            color: #ffffff;
        }
    }
}

.close-sidenav{
    text-align: center;
    .btn-close{
        margin-left: 0;
    }
}