.form-center{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    .formSearch{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        align-items: center;
        width: 30%;
        height: 140px;
        border-radius: 50px;
        box-shadow: 9px 6px 40px 1px rgb(255 255 255);

        &__input {
            margin-top: 0px;
            width: 200px;
            height: 25px;
            border-radius: 40px;
        }
    }
}
