@import '../../../assets/style/variable';
@import '../../../assets/style/mixin';

.form-container{
  height: 800px;
}

.form {
  max-width: 500px;
  margin: 0px auto;
  padding: 2px;

  &-input {
    margin: 20px 10px;
    width: 90%;
    border: 0;
    font-size: 18px;
    padding: 5px;
    box-shadow: 5px 5px 0px $red-light;
  }
  &-checkbox{
    margin: 20px 0;
  }
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
}
.btn-success {
  background: $green;
  color: $white;
  
  &:hover {
    background: $white;
    color: $green;
    cursor: pointer;
  }
  &:disabled {
    background-color: $green-light;
    color: $white;
    cursor: not-allowed;
  }
}
.btn-close {
  margin-left: 10px;
  background: $red-light;
  color: $white;
  cursor: pointer;
  &:hover {
    background: $white;
    color: $red-light;
  }
}

.error-message{
  color: red;
  font-size: 16px;
  margin-left: 10px;
  font-style: italic;
}